<% if (usuario) { %> 
    <% if (usuario.role == 'administrador') { %>
        <label class="role">Administrador</label>
    <% } %>
    <% if (usuario.role == 'usuario') { %>
        <label class="role">Usuario</label>
    <% } %>
<% } %>

<script>
    const role = document.querySelector('.role');

    if (role.textContent == 'Usuario') {
        location.replace('/');
    }
</script>