<%- include('partials/header')  -%> 
<%- include('partials/roleUsuario')  -%> 

<div class="atividades">
    <ul class="niveis-atividade">
        <a href="/facil">
            <li class="nivel">
                <img src="/img/nivel-facil.png" alt="icone de nivel facil">
                <h4>Nivel Facil</h4>
            </li>
        </a>
        <a href="/dificil">
            <li class="nivel">
                <img src="/img/nivel-dificil.png" alt="icone de nivel dificil">
                <h4>Nivel Dificil</h4>
            </li>
        </a>
    </ul>
</div>