<%- include('partials/header'); -%>
<%- include('partials/roleUsuario')  -%> 

<header>
    <div class="Estudante">
        <img src="/img/homem-com-livro.png" alt="livros de matemática">
    </div>
    <div class="Informacoes">
        <h2>Teste sua matemática</h2>
        <h3>Através de atividades</h3>
        <a href="/atividades" class="btn">Teste agora</a>
    </div>
</header>

<%- include('partials/footer'); -%>
